# Printing Large sentences

In [8]:
first_name='Sudhanshu'
last_name='agrawal'

In [9]:
print("My first name is {} and last name is {}".format(first_name,last_name))

My first name is Sudhanshu and last name is agrawal

In [10]:
print("My first name is {first} and last name is {last}".format(last=last_name,first=first_name))
print("My first name is {last} and last name is {first}".format(last=last_name,first=first_name))

My first name is Sudhanshu and last name is agrawal
My first name is agrawal and last name is Sudhanshu

# Functions

In [11]:
len(first_name)

9

# Python Data structures and variables
- Tuples
- Lists
- Comparison Operators
- Sets
- Dictionaries

In [12]:
type(True)

bool

In [13]:
my_str="sudhanshu Agrawal 12@"

In [14]:
print(my_str.isalnum()) #Check if all character are numbers
print(my_str.isalpha()) #Check if all characters are alphabets
print(my_str.startswith('S')) #Check if string starts with S
print(my_str.endswith('l')) #Check if string ends with l
print(my_str.casefold()) #Convert string into lower case letters
print(my_str.capitalize()) #Convert first letter into Upper case and remaining all into small letters

False
False
False
False
sudhanshu agrawal 12@
Sudhanshu agrawal 12@

## Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside a list is called an item. Just as strings are defined as characters between quotes, lists aer defined by having values between square brackets[].

In [15]:
lst_example=[]

In [16]:
type(lst_example)

list

In [17]:
lst=['Mathematics','Chemistry',100,200,300]

# Append function

In [18]:
lst.append('Su')
lst.append(['Sudhanshu','Agrawal'])
lst.append('Sudha')

In [19]:
print(lst)

['Mathematics', 'Chemistry', 100, 200, 300, 'Su', ['Sudhanshu', 'Agrawal'], 'Sudha']

In [20]:
len(lst)

8

Taking input of list from user

In [21]:
lis3=list()

# Insert the element in specific order

In [22]:
lis3.insert(0,"Agrawal")
lst.insert(1,'Sudhanshu')

In [23]:
print(lis3)
print(lst)
lst[4]

['Agrawal']
['Mathematics', 'Sudhanshu', 'Chemistry', 100, 200, 300, 'Su', ['Sudhanshu', 'Agrawal'], 'Sudha']

200

### Extend the list(add multiple elements at single time)

In [24]:
lst.extend([1,2,3,4,5,100])

In [25]:
lst

['Mathematics',
 'Sudhanshu',
 'Chemistry',
 100,
 200,
 300,
 'Su',
 ['Sudhanshu', 'Agrawal'],
 'Sudha',
 1,
 2,
 3,
 4,
 5,
 100]

## Range based Indexing

In [26]:
lst[:]
lst[0:-1]

['Mathematics',
 'Sudhanshu',
 'Chemistry',
 100,
 200,
 300,
 'Su',
 ['Sudhanshu', 'Agrawal'],
 'Sudha',
 1,
 2,
 3,
 4,
 5]

# Various Operations that we can perform in list

In [27]:
lst=[2,3,4,5,6,7]

In [28]:
sum(lst)

27

In [29]:
lst.pop()

7

In [30]:
lst.pop(0)

2

In [31]:
lst.count(5)

1

In [32]:
lst.index(5,1,4) #value,startindex,endindex

2

In [33]:
lst*2 #Repeat the elements in the same order

[3, 4, 5, 6, 3, 4, 5, 6]

In [34]:
min(lst)

3

In [35]:
max(lst)

6

# Sets

A set is an ordered collection data type that is iterable,mutable and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as hash table

In [36]:
#Define an empty set

set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [37]:
set_var={"Avengers","Ironman","Hitman","avengers"}
set_var1={"avengers"}
print(set_var)
print(set_var1)

{'Avengers', 'avengers', 'Ironman', 'Hitman'}
{'avengers'}

In [38]:
set_var.add('Hulk')
set_var.add(1)
set_var.update(set_var1)
print(set_var)

{1, 'Ironman', 'Hitman', 'Hulk', 'Avengers', 'avengers'}

In [39]:
set_var.difference(set_var1)
print(set_var)
set_var.difference_update(set_var1)
print(set_var)

{1, 'Ironman', 'Hitman', 'Hulk', 'Avengers', 'avengers'}
{1, 'Ironman', 'Hitman', 'Hulk', 'Avengers'}

# Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.
They are also used in mongodb to create the JSON files.

In [64]:
dic={}

In [65]:
type(dic)

dict

### Lets create a manual dictionary

In [42]:
dic={"car1":"Audi","car2":"BMW","car3":"Mercedez Benz"}

In [43]:
#Access the item values based on the keys

dic["car1"]

'Audi'

In [44]:
#We can have loop through out the dictionaries keys

for x in dic:
    print(x)

car1
car2
car3

In [45]:
#Iterating through the values of dictionaries

for x in dic.values():
    print(x)

Audi
BMW
Mercedez Benz

In [46]:
#Traversing through both key and values

for x in dic.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercedez Benz')

In [47]:
#Adding items in dictionaries

dic['car4']='Audi 2.0'

In [48]:
dic

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercedez Benz', 'car4': 'Audi 2.0'}

In [49]:
#Replacing existing values

dic['car1']='Maruti'

In [50]:
dic

{'car1': 'Maruti', 'car2': 'BMW', 'car3': 'Mercedez Benz', 'car4': 'Audi 2.0'}

## Nested Dictionary

In [69]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}
car4_model={'Suzuki':1990}
car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model,'car4':car4_model}

In [70]:
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980},
 'car4': {'Suzuki': 1990}}

In [53]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

Tuples is not mutable. It doesn't support item assignment. They are used in such programs where definition is required one time

In [54]:
# create an empty Tuples

my_tuple=tuple()

In [55]:
tuple(my_tuple)

()

In [56]:
my_tuple=('Krish','Ankur','John')

In [57]:
print (my_tuple[0])

Krish

In [58]:
#Inbuilt function  
my_tuple.count('Ankur')

1